{% extends 'base.html.twig' %}
{% block title %}Book{% endblock %}
{% block body %}

    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Book a place</h2>
                       <form action="{{ path('book') }}" method="get">
                        <div class="row">
                            <div class="col-md-6">
                                <p>Date and time: <input type="datetime-local" id="datepicker"></p>
                            </div>
                            <div class="col-md-6">
                                <br/>
                                <input type="submit" value="Find" />
                            </div>

                        </div>
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Number</th>
                                <th>Owner</th>
                                <th>Select to book</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in entities %}
                            <tr>
                                <td>{{ item.id }}</td>
                                <td>{{ item.owner.getUsername() }}</td>
                                <td><input title="" name="_slot" type="checkbox"/></td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-5">
                                <input title="From" name="_from" type="datetime-local"/>
                            </div>
                            <div class="col-md-5">
                                <input title="To" name="_to" type="datetime-local"/>
                            </div>
                            <div class="col-md-2">
                                <input type="submit" value="Send"/>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}

