{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}

{% block body %}
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2>Contact</h2>
                        <textarea name="message" cols="40" rows="5" placeholder="Write us message here..."></textarea><br/>
                        <input type="submit" value="Send"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock %}